<form method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'>{% csrf_token %}
  {% if next_url %}
  <input type='hidden' name='next_url' value='{{ next_url }}' />
  {% endif %}
  <P>Address Type: {{ address_type }}</p>
  {% if address_type %}
  <input type='hidden' name='address_type' value='{{ address_type }}' />
  {% endif %}
  {% for address in address_qs %}
    <label for='address-{{ address.id }}'>
      <input id='address-{{ address.id }}' type='radio' name='shipping_address' value='{{ address.id }}' />
      {{ address.address_line_1 }} {{ address.address_line_2 }}
    </label><br/>

  {% endfor %}
  <button type='submit' class='btn btn-success'>Use Address</button>
</form>
